h1 a:link {
   text-decoration: none;
   color: black;
}
h1 a:visited {
   color: black;
}
body {
   font: 1.2rem 'Genome', sans-serif;
   color: black;
   letter-spacing: 7px;
   word-spacing: 1px;
   background: white url(MTBackground.jpg) no-repeat fixed;
   background-size: 100%;
   width: 1024px;
}
header {
   background-color: rgba(255,210,210,.7);
   font: 2em 'Genome', serif;
   color: black;
   text-align: center;
   border: 3px solid pink;
   margin: 30px auto;
}
span[class="name"] {
   font-family: 'Dawning of a New Day', serif;
   font-size: 2.5em;
   display: block;
}
body nav {
   font-family: 'Genome', serif;
   margin: 50px auto;
   width: 70%;
   height: 70px;
}
nav ul{
   list-style-type: none;
   text-align: center;
   font-size: 1.5rem;
}
nav ul li {
   display: inline-block;
   transition: 300ms;
   border-right: 1px solid pink;
   line-height: 70px;
   padding: 0 20px;
}
nav ul li:first-of-type
{
   border-left: 1px solid pink;
}
nav ul li:hover {
   background-color: pink;
/*   background-color: rgba(255,200,200,.7);*/
}
nav a:hover {
   text-decoration: overline;
}
nav a {
   text-decoration: none;
   color: black;
   display: inline;
   line-height: 34px;
}
nav {
   margin: 50px 0;
   height: 34px;
   padding-bottom: 5px;
}
nav ul {
   padding: 0;
   margin: 0;
   list-style-type: none;
}
nav ul li {
   width: 18%;
   background-color: rgba(255,255,255,.7);
}
main {
   background-color: rgba(255,255,255,.85);
   margin: 3px 3px 150px;
   font-weight: bold;
   width: 625px;
   float: left;
}
aside {
   margin: 3px 3px;
   width: 381px;
   font-weight: bold;
   background-color: rgba(187, 192, 100, .85);
   float: right;
   border: 3px solid #779D7F;
}
p {
   margin: 1px;
   padding: 1px;
}
main span[class="intro"] {
   font-size: 1.7rem;
}
aside img {
   width: 381px;
}
aside ul {
   list-style-type: square;
   list-style-position: inside;
}
aside ul li {
   padding: 3px;
}
